body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f2;
}

#password-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('hearts.gif') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#message-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 20px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    color: #333;
}

/* Style for the 'Happy Valentine's Day' message */
#happy-valentine {
    font-size: 50px; /* Larger font */
    font-weight: bold;
    color: red; /* Choose any color you prefer */
    text-transform: uppercase; /* Makes the text more impactful */
    animation: textAnim 3s ease-out; /* Optional animation */
}

@keyframes textAnim {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
